* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #525252;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#chat-container {
  width: 400px;
  height: 550px;
  background: rgb(187, 187, 187);
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  overflow: visible; /* Permite que a imagem do soldado possa sair do container */
  position: relative; /* Serve de âncora para posicionar a imagem depois */
}

/* Header */
#chat-header {
  position: relative;
  background: #2c3e50;
  color: white;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 4px solid rgb(0, 112, 28);
  border-top-left-radius: 15px; /* Mantém a borda redonda já que tiramos o overflow: hidden */
  border-top-right-radius: 15px;
}
.brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-box {
  width: 35px;
  height: 35px;
  background: rgb(0, 112, 28);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 12px;
}

#clock-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px; 
}

#soldier-img {
  position: absolute;
  top: -125px; 
  right: 10px; 
  width: 100px;
  border-radius: 8px; 
}

#clock {
  font-family: monospace;
  font-size: 20px;
  opacity: 0.8;
  letter-spacing: 1px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Janela */

#chat-window {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background: #c9c9c9;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: auto;
}

.msg {
  padding: 10px 14px;
  border-radius: 15px;
  font-size: 14px;
  max-width: 80%;
  word-wrap: break-word;
  border: #219150 2px solid;
  border-radius: 30px;
  
}

.user {
  background: #737374;
  color: white;
  align-self: flex-end;
  border-bottom-right-radius: 2px;
}

.bot {
  background: #737374;
  color: #ffffff;
  align-self: flex-start;
  border-bottom-left-radius: 2px;
  border: #219150 2px solid;
  border-radius: 30px;
}



#user-input-container { 
  display: flex;
  padding: 15px;
  background: #fff;
  border-bottom-left-radius: 15px; /* Mantém a borda redonda do rodapé */
  border-bottom-right-radius: 15px;
}

#user-input-field {
  flex: 1;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 20px;
  outline: none;
  font-size: 14px;
  border: #525252 2px solid;
}

#user-input-field::placeholder {
    color: black;
    opacity: 1; /* Necessário porque alguns navegadores, como o Firefox, diminuem a opacidade do placeholder por padrão */
}

#send-btn {
  background: rgb(0, 112, 28);
  color: white;
  border: none;
  padding: 0 15px;
  margin-left: 8px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
}

#send-btn:hover {
  background: #219150;
}

.background_image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.3;
}
